{include file="index@index/header"/}
<div class="container main">
    <div style="margin-top: 10px;box-shadow: 10px 10px 5px #888888;margin-bottom: 10px;">
        <div class="bg">

        </div>
        <div class="bgWhite" style="padding-left: 20px;height:130px;">
            <p><img src="__img__/userDefault.jpg" style="position:relative;top:-100px;width: 200px;height: 200px"></p>
        </div>
    </div>


    <!--
    <div  style="margin-top: 10px;">
        <div style="background-color: rgb(150, 161, 169);height:160px;">

        </div>
        <div class="bgWhite" style="padding-left: 20px;height:160px;">
            <p><img src="__img__/camera.jpg" style="position:relative;top:-70px;width: 200px;height: 200px"></p>
            <p><small>粉丝：200</small></p>
        </div>
    </div>-->

        <!--<div class="col-md-offset-1 col-md-9 col-lg-offset-1 col-lg-9 col-xs-12">-->

    <div class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1"  role="navigation" id="filter-navbar-collapse" aria-expanded="false">
                    <ul class="nav navbar-nav">
                        <li><a href="#">点赞</a></li>
                        <li><a href="#">收藏</a></li>
                        <li><a href="#">评论</a></li>
                        <li><a href="#">作品</a></li>
                        <li><a href="#">关注</a></li>
                        <li><a href="#">关注者</a></li>
                    </ul>
                </div>
            </div>

        </div>
</div>


</div>

<script src="__JS__/EasyBanner.js"></script>
<script src="__JS__/common.js"></script>