<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！-->
    <link rel="icon" href="__img__/camera.jpg" type="image/x-icon">
    <title>pics——享受美的瞬间</title>

    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/common.css">
    <link rel="stylesheet" href="__CSS__/justifiedGallery.min.css">
    <link rel="stylesheet" href="__CSS__/fileinput.min.css">
    <style type="text/css">
        html, body {width:100%;height:100%;}
        .bg{background-image: url(http://www.pics.com/static/img/userbg03.jpeg);height:240px;margin-top: 1px}
        .bgWhite{background-color: #FFFFFF;}
        .main{padding-top: 30px}
        .bgColor{background-color:	#F0F0F0 }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

</head>
<body class="bgColor">
<div role="banner" >
    <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">LovePicture</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#">发现</a></li>
                    <li><a href="#">我的关注</a></li>
                    <li> <div class="input-group" style="width:250px;padding-top: 10px">
                        <input type="text" class="form-control" placeholder="search" >
                        <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
                    </div></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="navLog" style="display: none"><a href="#">登录/注册</a></li>
                    <li id="navPhoto" style="display: none;"><a href="#" style="padding-top: 10px;padding-bottom: 10px"><img src="__img__/userDefault.jpg" class="navPhoto"></a></li>
                </ul>
            </div>

        </div>
    </header>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
<!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="__JS__/imagesloaded.pkgd.min.js"></script>>
<!-- Include all compiled plugins (below), or include individual files as needed-->
<script src="__JS__/jquery-3.2.1.min.js"></script>>
<script src="__JS__/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#navPhoto").show();
    })
</script>
</body>
</html>