{include file="index/header"/}
<!--<div class="bg"></div>
<!--<img src="__img__/main.jpg" class="img-responsive" >-->
<div class="container main">
    <div class="row">
        <!--<div class="col-md-offset-1 col-md-9 col-lg-offset-1 col-lg-9 col-xs-12">-->
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-3"  role="navigation" id="filter-navbar-collapse" aria-expanded="false">
                            <ul class="nav navbar-nav">
                                <li><a href="#">风景</a></li>
                                <li><a href="#">纪实</a></li>
                                <li><a href="#">人物</a></li>
                                <li><a href="#">商品</a></li>
                                <li><a href="#">生态</a></li>
                                <li><a href="#">概念</a></li>
                                <li><a href="#">艺术</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        <!--</div>-->

    </div>
</div>
