{include file="index/header"/}
<div style="background-image:url(http://www.igallery.com/static/img/bg.jpg);height:800px;background-size: cover">
    <div></div>
    <p style="margin-top:250px;display: inline-block">
    <h1 style="color: white;text-align:center;font-size: 60px;letter-spacing: 10px">IGallery</h1>
    <p style="text-align:center;font-size: 45px;color: white;">———摄影人生</p>
    </p>
</div>
<div style="width: 80%;margin-left: 10%;text-align: center;margin-top: 50px" >

    <h3 style="margin-bottom: 30px">已经有上万的摄影爱好者入驻了IGallery······</h3>
    <p style="margin-bottom: 50px">在这里，发现基于共同兴趣的同好；鼓励原创和分享精神；除了美好的摄影和技能，我们更在意影像背后价值观的认同。</p>
</div>
<div class="container" style="width: 86%" style="margin-top: 1em">
    <div id="myGallery"  class="justified-gallery" >
        {volist name="list" id="picture" }
        <a href="http://www.igallery.com/workDetail/id/{$picture.articleId}.html" target="_blank" title="{$picture.title}">
            <img src="{$picture.thumbPath}" height="{$picture.thumbHeight}" width="{$picture.thumbWidth}"/>
            <!--<div class="caption">-->
                <!--<button  class="btn btn-primary" id="test">点击</button>-->
            <!--</div>-->
        </a>
        {/volist}
    </div>
</div>



<script src="__JS__/jquery.justifiedGallery.min.js"></script>
<script>
    $("#myGallery").justifiedGallery({
        rowHeight : 200,
        lastRow : 'nojustify',
        margins : 5,
        waitThumbnailsLoad : false
    });
//    $('#test').click(function (e) {
//        e.preventDefault();
//    });
//    $(document).ready(function () {
//        $("#myGallery>a").click(function (e) {
//            e.preventDefault();
//            var path = $(this).attr("href");
//            $("#articleDetail").modal();
//            $("#articlePicture").attr("src",path);
//        });
//    });
</script>
