 {volist name="followingWorks" id="work"}
            <section class="workMain" style="border: solid;border-width: 1px;border-color: #DCDCDC;background-color: white;margin: 10px;border-radius: 20px">
                <header style="padding-left: 5%;padding-top: 10px;display: -webkit-flex;display: flex;">
                    <a href="/user/{$work.authorId}">
                        <img src="{$work.profilePhoto}" style="width:50px;height: 50px;border-radius: 50%">
                    </a>
                    <p style="margin:10px;font-size: 17px"><a href="/user/{$work.authorId}">{$work.name}</a></p>
                </header>
                <p style="text-align: center;font-size: 23px"><strong>{$work.title}</strong></p>
                <main style="text-align: center">
                    {volist name="work['pictures']" id="picture"}
                        <img src="{$picture.path}" alt="{$picture.title}" style="margin: 10px;width: 80%;">
                    {/volist}
                </main>
                <footer style="padding: 10px;margin-right:10px;display: -webkit-flex;display: flex;-webkit-justify-content: flex-end;justify-content: flex-end;">
                    <div class="input-group" style="margin-right: 50px;width: 400px">
                        <input class="form-control" type="text" id="comment{$work.id}"placeholder="说点什么吧！">
                        <span class="input-group-btn">
                            <button class="btn btn-default sendComment" type="button" data-id="{$work.id}" >发送</button>
                        </span>
                    </div>
                    <div class="btn-group">
                    <button type="button" class="btn btn-default like">
                        <span data-id="{$work.id}" class="glyphicon {$work.likeStyle}"></span>
                        <strong>{$work.thumbUp}</strong>
                    </button>
                    <button type="button" class="btn btn-default" onclick="location='/workDetail/id/{$work.id}'"><span class="glyphicon glyphicon-comment"></span>&nbsp;
                        {$work.commentNum}</button>
                    </div>
                </footer>
                <p style="text-align: right;padding:10px;margin-right: 20px"><time datetime="{$work.date}">{$work.date} </time></p>
            </section>
 {/volist}
 <script>
     $('.like').click(function () {
         var id=$.cookie('id');
         if(id==null){
             swal("请先登录!");
             return;
         }
         //还未点赞
         if($(this).find('span').hasClass('glyphicon-heart-empty')){
             //改变样式
             $(this).find('span').removeClass('glyphicon-heart-empty');
             $(this).find('span').addClass('glyphicon-heart');
             $(this).find('strong').text(parseInt($(this).find('strong').text())+1);
             $.get('/likeWork/work/'+$(this).find('span').attr('data-id'),function(data) {
             });
         }
         else{
             $(this).find('span').removeClass('glyphicon-heart');
             $(this).find('span').addClass('glyphicon-heart-empty');
             $(this).find('strong').text(parseInt($(this).find('strong').text())-1);
             $.get('/disLikeWork/work/'+$(this).find('span').attr('data-id'),function(data) {
             });
         }
     })
     $('.sendComment').click(function () {
         var id = $.cookie('id');
         if (id == null) {
             swal("请先登录!");
             return;
         }
         var text=$('#'+'comment'+$(this).attr('data-id')).val();
         $('#'+'comment'+$(this).attr('data-id')).val("");
         console.log(text);
         $.get('/comment/workId/'+$(this).attr('data-id')+'/text/'+text,function(data) {
             swal("评论成功！");
         });
     })

 </script>
