 {volist name="followingWorks" id="work"}
            <section class="workMain" style="border: solid;border-width: 1px;border-color: #DCDCDC;background-color: white;margin: 10px;">
                <!--<header style="padding-left: 5%;padding-top: 20px;display: -webkit-flex;display: flex;">-->
                    <!--<a href="/user/{$work.authorId}">-->
                        <!--<img src="{$work.profilePhoto}" style="width:50px;height: 50px;border-radius: 50%">-->
                    <!--</a>-->
                    <!--<p style="margin:10px;font-size: 17px"><a href="/user/{$work.authorId}">{$work.name}</a></p>-->
                    <!--<p style="text-align: center;margin-left:180px;font-size: 25px"><strong>{$work.title}</strong></p>-->
                <!--</header>-->
                <!--<p style="text-align: center;font-size: 25px"><strong>{$work.title}</strong></p>-->
                <section class="justified-gallery" style="">
                    {volist name="work['pictures']" id="picture"}
                    <a href="http://www.igallery.com/workDetail/id/{$picture.articleId}" target="_blank" rel="{$picture.articleId}">
                        <img src="{$picture.thumbPath}" alt="{$picture.title}" height='{$picture.thumbHeight}' width="{$picture.thumbWidth}"/>
                    </a>
                    {/volist}
                </section>
                <section  style="padding-left: 10%;padding-top: 10px;display: -webkit-flex;display: flex;">
                    <a href="/user/{$work.authorId}">
                        <img src="{$work.profilePhoto}" style="width:35px;height: 35px;border-radius: 50%">
                    </a>
                    <p style="margin:10px;font-size: 12px"><a href="/user/{$work.authorId}">{$work.name}</a></p>
                    <p style="padding:10px;margin-right: 20px;font-size: 12px"><time datetime="{$work.date}">{$work.date} </time></p>
                </section>

                <p style="padding-left: 10%;font-size: 13px;margin-top:5px;margin-bottom: 10px;line-height:25px;"><strong>简介：</strong>{$work.description}</p>
                <footer style="padding-left: 10%;padding-top: 10px;display: -webkit-flex;display: flex;margin-bottom: 20px">

                    <div class="input-group" style="width: 350px">
                        <input class="form-control" type="text" id="comment{$work.id}"placeholder="说点什么吧！">
                        <span class="input-group-btn">
                            <button class="btn btn-default sendComment" type="button" data-id="{$work.id}" >发送</button>
                        </span>
                    </div>
                    <div class="btn-group" style="margin-left: 50px">
                    <button type="button" class="btn btn-default like" style="font-size: 10px">
                        <span  data-id="{$work.id}" class="glyphicon {$work.likeStyle}"></span>
                        <strong>{$work.thumbUp}</strong>
                    </button>
                    <button type="button" class="btn btn-default" style="font-size: 10px" onclick="location='/workDetail/id/{$work.id}'"><span class="glyphicon glyphicon-comment"></span>&nbsp;
                        {$work.commentNum}</button>
                    </div>
                </footer>

            </section>
 {/volist}
 <script src="__JS__/jquery.justifiedGallery.min.js"></script>
 <script>
     $(".justified-gallery").justifiedGallery({
         rowHeight : 200,
         margins : 5,
         waitThumbnailsLoad : false
     });
     $('.like').click(function () {
         var id=$.cookie('id');
         if(id==null){
             swal("请先登录!");
             return;
         }
         //还未点赞
         if($(this).find('span').hasClass('glyphicon-heart-empty')){
             //改变样式
             $(this).find('span').removeClass('glyphicon-heart-empty');
             $(this).find('span').addClass('glyphicon-heart');
             $(this).find('strong').text(parseInt($(this).find('strong').text())+1);
             $.get('/likeWork/work/'+$(this).find('span').attr('data-id'),function(data) {
             });
         }
         else{
             $(this).find('span').removeClass('glyphicon-heart');
             $(this).find('span').addClass('glyphicon-heart-empty');
             $(this).find('strong').text(parseInt($(this).find('strong').text())-1);
             $.get('/disLikeWork/work/'+$(this).find('span').attr('data-id'),function(data) {
             });
         }
     })
     $('.sendComment').click(function () {
         var id = $.cookie('id');
         if (id == null) {
             swal("请先登录!");
             return;
         }
         var text=$('#'+'comment'+$(this).attr('data-id')).val();
         $('#'+'comment'+$(this).attr('data-id')).val("");
         console.log(text);
         $.get('/comment/workId/'+$(this).attr('data-id')+'/text/'+text,function(data) {
             swal("评论成功！");
         });
     })

 </script>
